@media (min-width:1600px) {
.sec1-btn p{
    font-size: 2vw;
}
}
@media (max-width:1025px) {
    .home-sec1{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .Sec1-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    .line1,
    .line2{
        display: none;
    }
    .home-sec1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .Sec1-rght{
        padding-top: 10vw;
    }
}
@media (max-width:769px) {
      .home-sec1{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .Sec1-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .Sec1-h1{
        padding: 0.85rem 0.6rem;
      }
    .Sec1-h2{
        font-size: 2.5rem;
        /* margin-top: 0rem; */
        padding: 1rem 0.85rem;
        padding-right: 1.2rem;
       }
    .Sec1-h3{
        padding: 1.8rem 0.6rem;
    }
    .Sec1-h{
        font-size: 3rem;
    }
    .h3{
        font-size: 3rem;
    }
    
    .Sec1-rght{
        padding-top: 10vw;
    }

}
@media (max-width:450px) {
    .home-sec1{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .Sec1-left{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .Sec1-h1{
      padding: 0.85rem 0.6rem;
    }
  .Sec1-h2{
    margin-top: -1.5vw;
      font-size: 2.5rem;
      padding: 1rem 0.85rem;
      padding-right: 1.2rem;
     }
  .Sec1-h3{
      padding: 1.8rem 0.6rem;
  }
  .Sec1-h{
      font-size: 3rem;
  }
  .h3{
      font-size: 3rem;
  }
  .Sec1-rght{
      padding-top: 10vw;
  }
  .why-btn{
    width: 55vw;
  }
}
/* @media (max-width:391px) {

    .home-sec1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .Sec1-h2{
        font-size: 2.5rem;
        margin-top: -1rem;
        padding: 1.5rem 1.2rem;
       }
    .Sec1-h3{
     padding: 1.5rem 1.2rem;
    }
    .Sec1-h{
        font-size: 3rem;
    }
    .h3{
        font-size: 3rem;
    }
    .Sec1-rght{
        padding-top: 10vw;
    }

} */