.About-square {
    position: relative;
    margin: 0 10px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .About-square span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #efcba52a;
    border: none;
    border-radius: 78% 40% 80% 40% / 65% 40%  50% 80% ;
    transition: 0.5s;
    animation: animate 6s linear infinite;
  }
  
  .About-square span:nth-child(2) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #efcba52a;
    border: none;
    border-radius:  55% 95% 53% 67% / 51% 94% 60% 69%   ;
    transition: 0.5s;
    animation: animate 4s linear infinite;
  }
  
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate2 {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @media screen and (min-width: 1600px) {
.About1-h1{
  font-size: 3vw;
}
    .whos-p1 {
      text-align: center;
      color: white;
      font-size: 3vw;
      padding-bottom: 1vw;
      padding-left: 1vw;
    }
    .whos-p2 {
      text-align: center;
      color: white;
      padding: 1vw 0;
      padding-left: 1vw;
      padding-bottom: 0%;
      font-size: 1.5vw ;
      line-height: 2vw;
    }
 }
  @media (max-width:1024px) {
    .About1{
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    .whos-p1 {
      text-align: center;
      color: white;
      font-size: 6vw;
      padding-bottom: 1vw;
    }
    .whos-p2 {
      text-align: center;
      color: white;
      padding: 1vw 0;
      padding-bottom: 0%;
      font-size: 3vw ;
      line-height: 5vw;
    }
  }
  @media (max-width:769px) {

    .About1-h1{
      padding: 0.5rem 0;
    }
    .About1{
      display: flex;
      flex-direction: column;
      padding: 0 2vw;
    }
    .whos{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.8rem;
      margin: 0;
      text-align: center;
    }
    .whos-p1{
      text-align: center;
    }
    .About1-pic{
      padding: 0.8rem 0.5rem ;
    }
  }
  @media (max-width:392px) {
.whos{
  padding: 1rem;
  /* font-size: 2rem; */
}
  }