/* Sec3.css */
.slider-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 2vw 0;
  padding-top: 0;
  padding-left: 3vw;
}
.slider{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-divs {
  position: relative;
  margin: 1vw;
  width: 50vh;
  height: 470px;
  border: 2px solid white;
  padding-top: 1.5vw;
  transition: border-color 0.2s ease, transform 0.3s ease;
}

.slide-divs:before,
.slide-divs:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.slick-slide .Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-slide .slide-divs img {
  filter: brightness(0) invert(1);
  transition: filter 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slick-slide .slide-divs:hover img {
  filter: brightness(1) invert(0);
  animation: rotation 1s ease;
}

.draw:before,
.draw:after {
  width: 0;
  height: 0;
  border: 2px solid transparent;
}

.draw:before {
  top: 0;
  left: 0;
}

.draw:after {
  bottom: 0;
  right: 0;
}

.draw:hover {
  border: none;
  color: #60daaa;
}

.draw:hover:before,
.draw:hover:after {
  width: 100%;
  height: 100%;
}

.draw:hover:before {
  border-top-color: rgb(0, 217, 255);
  border-right-color: rgb(0, 217, 255);
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover:after {
  border-bottom-color: rgb(0, 217, 255);
  border-left-color: rgb(0, 217, 255);
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.meet:hover {
  color: rgb(0, 217, 255);
  transform: translateY(-12px);
}

.meet:after {
  top: 0;
  left: 0;
}

.meet:hover:before {
  border-top-color: rgb(0, 217, 255);
  border-right-color: rgb(0, 217, 255);
}

.meet:hover:after {
  border-bottom-color: rgb(0, 217, 255);
  border-left-color: rgb(0, 217, 255);
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.slick-dots li button:before {
  color: #fff !important;
  font-size: 1rem !important;
}

@media (max-width: 1300px) {
  .slider-div {
    padding: 3vw;
    padding-top: 10vw;
    margin-top: 10vw;
  }
  .slide-divs {
    width: 40vh;
    height: 50vh;
  }
}

@media (max-width: 1024px) {
  .slider-div {
    padding: 3vw;
    padding-top:2rem;
    margin-top: 2rem;
  }
  .slide-divs {
    width: 50vh;
    height: 33rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .Sec3 {
    height: auto;
    padding: 2vw 3vw;
    padding-bottom: 1vw;
  }
  .slider-div {
    padding: 3vw;
    padding-bottom: 0vw;
    padding-top: 2vw;
    margin-top: 2vw;
  }
  .slide-divs {
    width: 80%;
    height: auto;
    margin:6vw auto;
  }
  .Card img{
    margin-top: 6vw;
    margin-bottom: 3vw;
  }
  .slide-h1 {
    margin-top: 0.8vw;
    font-size: 1.2rem;
  }
  .slider {
    padding: 0vw 4.8vw;
  }
}

/* @media (max-width: 391px) {
  .Sec3 {
    padding: 2vw 3vw;
  }
  .Sec3-head {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .slider-div {
    padding: 0.23rem;
    padding-top: 1vw;
    margin-top: 0vw;
  }
  .slide-divs {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .slide-h1 {
    font-size: 0.85rem;
    padding: 0.5rem 0.25rem;
  }
  .slide-p {
    font-size: 0.9rem;
    padding: 1rem 0.8rem;
  }
  .slider {
    padding: 1vw 1vw;
  }
} */
